<div class="container">
  <i class="fas fa-ellipsis-v"></i>
  <div class="items">
    <ng-container *ngFor="let item of items">
      <a *ngIf="item.link; else itemWithHolder" [routerLink]="item.link">
        <i *ngIf="item.cssClass" [class]="item.cssClass" class="icon"></i>
        {{ item.label }}
      </a>
      <ng-template #itemWithHolder>
        <a (click)="item.holder()">
          <i *ngIf="item.cssClass" [class]="item.cssClass" class="icon"></i>
          {{ item.label }}
        </a>
      </ng-template>
    </ng-container>

  </div>
</div>
